<div class="cart-panel">
  <div *ngFor="let c of cart" class="cart-container">
    <div class="cart-item">
      <img src="{{ c.url }}" alt="product image" class="img" />
      <br />
      <div class="cart-item-details">
        <h5 class="cart-panel">{{ c.name }}</h5>
        <h5 class="cart-panel">${{ c.price }}</h5>
        <label
          >Amount:<input
            type="number"
            class="number-input"
            value="{{ c.quantity }}"
            min="1"
            max="10"
            [(ngModel)]="c.quantity"
            (click)="changeTotal()"
        /></label>
      </div>
    </div>
  </div>
  <h6 *ngIf="total != 0">Total:${{ total }}</h6>
</div>
