<div *ngIf="cart.length === 0" class="empty-cart">
  <h2>Your cart is empty!</h2>
  <h2>try adding some products</h2>
</div>
<form
  *ngIf="cart.length != 0"
  action=""
  class="form-margin form-group col-md-2"
  #form="ngForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-items">
    <h6 class="form-label">Full name</h6>
    <input
      class="form-control"
      type="text"
      name="name"
      placeholder="(minimum 3 characters)"
      [(ngModel)]="fullName"
      (ngModelChange)="changeName($event)"
      minlength="3"
      maxlength="30"
      required
    />
  </div>
  <div class="form-items">
    <h6 class="form-label">Address</h6>
    <input
      class="form-control"
      type="text"
      name="address"
      placeholder="(minimum 6 characters)"
      [(ngModel)]="address"
      minlength="6"
      maxlength="30"
      required
    />
  </div>
  <div class="form-items">
    <h6 class="form-label">Credit card number</h6>
    <input
      class="form-control hideArrow"
      type="text"
      name="card number"
      placeholder="(16-digit number)"
      [(ngModel)]="cardNumber"
      maxlength="16"
      minlength="16"
      required
    />
  </div>
  <input class="btn btn-primary" [disabled]="form.invalid" type="submit" value="Submit" />
</form>
<div  class="cart-panel">
  <div
    *ngFor="let c of cart; first as isFirst"
    [style.margin-top.px]="isFirst ? 64 : 0"
    class="cart-container"
  >
    <div class="cart-item">
      <img src="{{ c.url }}" alt="product image" class="img" />
      <br />
      <div class="cart-item-details">
        <h5 class="item bold">{{ c.name }}</h5>
        <h6 class="item">${{ c.price }}</h6>
        <div class="item">
          <p>
            Amount:
            <input
              type="number"
              class="number-input"
              value="{{ c.quantity }}"
              min="1"
              max="10"
              (ngModelChange)="changeTotal($event , c)"
              [(ngModel)]="c.quantity"
              onKeyDown="return false"
            />
          </p>
          <input type="submit" class="btn btn-danger" value="Delete" (click)="deleteProduct(c)">
        </div>
      </div>
    </div>
  </div>
  <h5 class="total bold" *ngIf="cart.length != 0">Total:${{ total }}</h5>
</div>
