img {
  border-radius: 10px;
  width: 320px;
}


.select-input {
  width: 108px;
  margin-bottom: 8px;
}


.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}


a:hover {
  text-decoration: underline;
}


.padding {
  padding: 5% 0;
}


button {
  margin: 0 0 10px 0;
}


.detail-item {
  margin: 0 128px;
}

.back-link {
  margin: 100px 0 0 0;
  text-decoration: none;
}
